<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="margin-top: 5%; margin-left: 5%; margin-right: 5%;">
    <h1>Influencer negotiation page</h1>
    <form method="post">
        <div class="mb-3">
        <label for="inf_id" class="form-label">Enter User Name:</label>
        <input type="text" class="form-control" name="inf_id" id="inf_id" required>
        </div>
        
        <div class="mb-3">
        <label for="messages" class="form-label">Enter negotiation request:</label>
        <input type="text" class="form-control" name="messages" id="messages" required>
        </div>
        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>