<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="margin-top: 5%; margin-left: 5%; margin-right: 5%;">
    <h1>Influencer Registration page</h1>
    <form method="post">
        <div class="mb-3">
        <label for="inf_id" class="form-label">Enter User Name:</label>
        <input type="text" class="form-control" name="inf_id" id="inf_id" required>
        </div>
        <div class="mb-3">
            <label for="inf_name" class="form-label">Enter Name:</label>
            <input type="text" class="form-control" name="inf_name" id="inf_name" required>
            </div>
        <div class="mb-3">
        <label for="inf_password" class="form-label">Enter Influencer password:</label>
        <input type="text" class="form-control" name="inf_password" id="inf_password" required>
        </div>
        <div class="mb-3">
        <label for="inf_category" class="form-label">Enter Influencer Category:</label>
        <input type="text" class="form-control" name="inf_category" id="inf_category" >
        </div>
        <div class="mb-3">
        <label for="inf_niche" class="form-label">Enter Influencer Niche:</label>
        <input type="text" class="form-control" name="inf_niche" id="inf_niche" required>
        </div> 
        <div class="mb-3">
        <label for="inf_reach" class="form-label">Enter Influencer Reach:</label>
        <input type="integer" class="form-control" name="inf_reach" id="inf_reach" required>
        </div>
        <div class="mb-3">
        <label for="rating" class="form-label">Enter Influencer Rating:</label>
        <input type="integer" class="form-control" name="rating" id="rating" required>
        </div>
        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>