<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sponsor Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
       .detail {margin-bottom: 10px;}
        .detail strong {display: inline-block;width: 150px;}
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Sponsor Details</h1>
        <div class="detail"><strong>Sponsor ID:</strong> {{spon.spon_id}}</div>
        <div class="detail"><strong>Sponsor Name:</strong> {{spon.spon_name}}</div>
        <div class="detail"><strong>Industry:</strong> {{spon.spon_industry}}</div>
        <div class="detail"><strong>Budget:</strong> {{spon.spon_budget}}</div>
        <div class="detail"><strong>Password:</strong> {{spon.spon_password}}</div>
        <div class="detail"><strong>Flagged:</strong> {{spon.flagged}}</div>
        <a href="{{url_for('spon_flag', spon_id=spon.spon_id) }}"><button class="btn btn-outline-success" type="button">Flag or Unflag User</button></a>
        <a href="{{url_for('admin_dashboard') }}"><button class="btn btn-outline-success" type="button">Go back</button></a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    
</body>
</html>

