<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campaign Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        .detail {
            margin-bottom: 10px;
        }
        .detail strong {
            display: inline-block;
            width: 150px;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Campaign Details</h1>
        <div class="detail"><strong>Campaign ID:</strong> {{camp.camp_id}}</div>
        <div class="detail"><strong>Campaign Name:</strong> {{camp.camp_name}}</div>
        <div class="detail"><strong>Visibility:</strong> {{camp.visibility}}</div>
        <div class="detail"><strong>Start Date:</strong> {{camp.start_date}}</div>
        <div class="detail"><strong>End Date:</strong> {{camp.end_date}}</div>
        <div class="detail"><strong>Budget:</strong> {{camp.budget}}</div>
        <div class="detail"><strong>Goals:</strong> {{camp.goals}}</div>
        <div class="detail"><strong>Description:</strong> {{camp.description}}</div>
        <div class="detail"><strong>Flagged:</strong> {{camp.flagged}}</div>
        <a href="{{url_for('rembudget',camp_id=camp.camp_id,spon_id=spon.spon_id) }}"><button class="btn btn-primary">Remaining budget {{rem}}</button></a>
        <a href="{{url_for('spon_dashboard',spon_id=spon.spon_id) }}"><button class="btn btn-outline-success" type="button">Go back</button></a>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    
</body>
</html>