<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sponsor Registration page</title>
</head>
<body>
    <div style="margin-top: 5%; margin-left: 5%; margin-right: 5%;">
    <h1>Sponsor Registration page</h1>
    <form method="post">
        <div class="mb-3">
        <label for="spon_id" class="form-label">Enter User Name:</label>
        <input type="text" class="form-control" name="spon_id" id="spon_id" required>
        </div>
        <div class="mb-3">
            <label for="spon_name" class="form-label">Enter Name:</label>
            <input type="text" class="form-control" name="spon_name" id="spon_name" required>
            </div>
        <div class="mb-3">
        <label for="spon_password" class="form-label">Enter Sponsor password:</label>
        <input type="text" class="form-control" name="spon_password" id="spon_password" required>
        </div>
        <div class="mb-3">
        <label for="spon_industry" class="form-label">Enter Sponsor Industry:</label>
        <input type="text" class="form-control" name="spon_industry" id="spon_industry" >
        </div>
        <div class="mb-3">
        <label for="spon_budget" class="form-label">Enter Sponsor budget:</label>
        <input type="text" class="form-control" name="spon_budget" id="spon_budget" required>
        </div> 
        
        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>